* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, rgb(0, 0, 87), rgb(63, 1, 145));
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
}

.container {
    outline: 3px solid rgb(0, 0, 87);
    outline-offset: -5px;
    border: #ffffff solid;
    padding: 50px;
    font-family: arial;
    border-radius: 35px;
    background-color: white;
    margin: 30px;
    text-align: center;
}

.exercicio {
    input {
        border: none;
        border-radius: 15px;
        color: white;
        padding: 15px;
        background: linear-gradient(to right, rgb(0, 0, 87), rgb(91, 0, 211));
        font-size: 30px;
        width: 90%;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.459);
    }

    input[type="number"]:focus {
        outline: none;
    }

    hr {
        margin: 5% 0 5% 0;
    }

    button {
        color: white;
        padding: 20px;
        border-radius: 15px;
        border: none;
        background: linear-gradient(to right, #0095ff, #938cff);
        margin: 25px 0 25px 0;
        font-size: 30px;
        width: 100%;
    }

    button:hover {
        transition: 0.15s;
        background: linear-gradient(to right, #0095ff, #938cff);
        outline: 3px solid rgb(255, 255, 255);
        outline-offset: -5px;
    }

    button:active {
        background: linear-gradient(to right, rgb(0, 0, 87), rgb(91, 0, 211));
        color: white;
    }

    h2 {
        color: rgb(0, 0, 87);
        margin: 20px 0 0 0;
    }

    h1 {
        color: rgb(0, 0, 87);
    }

    p {
        color: rgb(0, 0, 87);
    }
}